NEXT_PUBLIC_SUPABASE_URL=https://tzjjqeznxohcjjdvkrrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6ampxZXpueG9oY2pqZHZrcnJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NjA1OTEsImV4cCI6MjA4ODQzNjU5MX0.aKXSGPWmDGIAy2qDJB6q1n_RaxOlwSFYBwZkonJhnL0
